
@{ 
    ViewBag.Title = "Index";
}

<h2>Index Supplier</h2>
<div class="container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="SaveTampil()">Create New</button>
    <br/>
    <input type="text" class="form-control  col-lg-offset-9" placeholder="Search (Choose Find Options)" id="cari" title="Search (Choose Find Options)"/>
    <br/>
    <select id="pilih" class="form-control col-lg-offset-9" onclick="Jenis()">
        <option value="0" selected id="opt1">Choose Find Options</option>
        <option value="1">Name</option>
        <option value="2">Join Date</option>
    </select>
    <br/>
    <button type="button" class="btn btn-primary pull-right" onclick="Search()">Find</button>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Supplier Name
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody id="tBody"></tbody>
        </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title" id="myModalLabel">Supplier Form</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Id">Id</label>
                        <input type="text" class="form-control" id="Id" placeholder="Id" disabled="disabled"/>
                    </div>
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" placeholder="Name"/>
                        <input type="hidden" class="form-control" id="NameOld"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="Save" onclick="Save()">Add</button>
                <button type="button" class="btn btn-primary" id="Update" style="display:none;" onclick="Edit()">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Content/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/SupplierMaster/GetAllData.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
